[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/oliveryh/LoveIt.git
[submodule "oliveryh.github.io"]
	path = oliveryh.github.io
	url = https://github.com/oliveryh/oliveryh.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/oliveryh/oliveryh.github.io.git
	branch = master
